[submodule "libdeflate"]
	path = libdeflate
	url = https://github.com/ebiggers/libdeflate
[submodule "simdtests"]
	path = simdtests
	url = https://github.com/kanryu/simdtests
[submodule "pybind/pybind11"]
	path = pybind/pybind11
	url = https://github.com/pybind/pybind11.git
